
@media (min-width: 600px) { 
    .imgMulher{
        position: absolute;
        left: 50%;
        top: 66px;
        width: 16%;
    }
}


@media (max-width:1025px) { 
    .imgMulher{
        position: absolute;
        left: 50%;
        top: 79px;
        width: 18%;
    }
}

@media (max-width:1280){
    .imgMulher{        
        top: 61px;
    }
}