.navbar {
    padding: 100px;
    background: linear-gradient(90deg,
            rgba(231, 35, 56, 1) 0%,
            rgba(232, 59, 47, 1) 35%,
            rgba(231, 35, 91, 1) 100%);
}


.imgLogo{
    position: absolute;
    width: 20%;
}

.imgRedonda{
    position: absolute;
    width: 25%;
    right: 85%;
    top: 11%;
}



.imgMulher{
    position: absolute;
    left: 50%;
    top: 72px;
    width: 14%;
}

.imgQuadrado{
    position: absolute;    
    top: 144px;
    left: 30%;
    width: 80px;
}


.imgSeta{
    position: absolute;
    left: 50%;
    top: 31px;
    width: 5%;
}


.imgTexto{
    position: absolute;    
    left: 78%;
    width: 15%;
    top: 45px;
}

.imgTriangulo{
    position: absolute;    
    left: 93%;
    width: 2%;
    top: 15px;
}

.imgOnda{
    position: absolute;    
    left: 86%;
    width: 7%;
    top: 170px;
}




span{
    color: rgba(0,0,0,.5);
            font-size: 14px;
            font-weight: 400;
}



.cardTop{
    padding-top: 40px;
}

.divOrange{
    padding: 20px;
    text-align: center;
    background-color: #FC4C02;
}

.divOrange img{
    text-align: center;
}